_snapshots/
layers/
holes/
masks/
source.png
tape-deck.png
deck/faces/*.png
deck/back.png
deck-tarot/faces/*.png
deck-tarot/back.png
scene/tarot/*.png
scene/pond/_water-mask-preview.png
_to-gpu-pc/
_to-gpu-pc-2/
_to-gpu-pc-3/
_to-gpu-tape2/
*.zip
scene/kamchatka/*.png
scene/kamchatka/cat/
scene/kamchatka/cut/
scene/kamchatka/actors/
scene/kamchatka/tools/
